{% extends 'base.html' %}
{% block content %}

  <h2> leave your comment!</h2>
  {% if user.is_authenticated %}                                           
   <form method = "POST"action ="" >
     {% csrf_token %}
       <h3> write a New Comments</h3>
     <div class = "messagebox">
     {{ form.as_p }}
     <button class ="btn btn-primary btn-sm" type ="submit">
        Post Comment
     </button>
     </div>
    </form>
  <hr>
  {% else %}
  <a class = "btn btn-outline-info" href ="{% url 'login'%}?next={{request.path}}">login to add a comment</a><br>
  {% endif %}
{% endblock %}