{% extends 'base.html' %}
{% block content %}
  <!-- section -->
  <div class = "space">
   <div class="section layout_padding   ">
    <div class="container">
       
                 <div class="row">
                    <div class="col-md-1">
                       <img src="{{blog.author.profile.image.url}}"width ="50"height ="50" alt="#" >
                    </div>
                    <div class="col-md-9">
                       <div class="full contact_text">
                          <h3><a href = "{% url 'user-posts' blog.author.username %}">{{blog.author}}</a></h3>
                          <h6>Posted on {{blog.date}}</h6>
                          <h3>{{ blog.title}}</h3>
                          {% if blog.header_image %}
                            <img src= '{{blog.header_image.url}}'>
                            
                           {% endif %}
                          <p><a href = "{% url 'blog-detail' blog.pk %}">{{blog.content}}</a>
                          </p>
                          
                       </div>
                    </div>
                    <div class="col-md-5">

                    </div>
                 </div>
             </div>
      </section>
    </div>
    <br>
   
             
                                                             

 
{% if object.author == user  %}
 
   <a class = "btn btn-secondary btn-sm mt-1 mb-1"href = "{% url 'blog-update' object.pk %}"> update</a>
   
   <a class = "btn btn-danger btn-sm mt-1 mb-1"href = "{% url 'blog-delete' object.pk %}"> delete</a>
 
 
 {% endif %}
 <hr>
{% if comments %}
   <strong class ="text-secondary">{{object.number_of_comments}} comment{{object.number_of_comments|pluralize}}</strong>
  <hr>
 {% for comment in comments %}
   <l1>
   <span>
     <strong class ="text-info">{{comment.name}}</strong>
     <small class ="text-muted">{{comment.date}}</small>
  </span>
  <p>
     {{ comment.content|safe}}
   </p>
    </l1>
 {% endfor %} 
{% else %}
 <strong class = "text-secondary">No Commments Yet</strong>

 
{% endif %}
<a href="{% url 'add-comment' blog.pk %}">add comment  </a>
  

 
{% endblock %}